{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "semi": [2, "always"],
    "quotes": [2, "single"]
  },
  "env": {
    "es6": true
  },
  "extends": "eslint:recommended"
}
